<!-- <h3>Welcome to first Angular App -> string interpolation {{title}}</h3>
<div [innerText]='title'></div>
<div>{{1+1}}</div>
<div innerText={{submitted}}></div>
<div><input type="text" id='t1' value='Hello' #t1/></div>
<div><input type="text" [(ngModel)]='title'/></div>
<button [style.color] = "submitted ? 'green':'red'" (click) = 'show(t1.value)' 
[disabled]='submitted'>See me!!!</button>
<div [attr.role]='content'>this is the content with aria attr</div>
<div [style.color]="textcolor">It uses style binding</div>
<div [style.color]="isspecial ? 'blue':'yellow'">It uses style binding</div>
<div [ngStyle]="{'color':textcolor, 'font-size':'17px'}" >This uses ng style</div>
<div [class]="style1">It uses class binding</div>
<div [ngClass]="[style1,style2]">It uses class binding</div> -->

<app-header [username]='name' 
(subs)='subscribed($event)'
[emp]='employee'></app-header>
<!-- <div class = 'container'>
        <form action="/action_page.php">
            <div class="form-group">
              <label for="name">Enter Name:</label>
              <input type="text" class="form-control" id="name" #n>
            </div>         
            <button type="submit" (click)='login(n.value)' class="btn btn-default">Submit</button>
          </form>   
</div> -->
<app-jokelist></app-jokelist>
<!-- <div *ngIf='true'>This will be shown</div>
<div *ngIf='false'>This will not be shown</div> -->
<h1>Directive Demo</h1>
<app-directive></app-directive>
<ul><li *ngFor="let pno of [1,2,3,5,7,11,13,17];let i = index"> 
    {{i}} : {{ pno }}	</li></ul>
<h1>Demo on switch case</h1>
<ul *ngFor="let person of people"  [ngSwitch]="person.country"> 
    <li *ngSwitchCase="'UK'" class="text-success">
      {{ person.name }} ({{ person.country }})	
    </li>
    <li *ngSwitchCase="'USA'"class="text-primary">
      {{ person.name }} ({{ person.country }})
    </li>
    <li *ngSwitchDefault  class="text-warning">
      {{ person.name }} ({{ person.country }})
    </li>
    </ul>
    
  
